<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/f2859b61d8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"> 
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 



    <title><%= title %></title>
</head>
<body>
<header>
    <nav>
        <h4><a href="/"><span class="logoTextSpanBold">Drive</span>Board</a>
           
        </h4>
        <ul>
            <% if(locals.currentUser) { %>
            <li><a href="/messages/new">New Message</a></li>
            <% } %>
            <li><a href="/">Home</a></li>
            <li>
                <% if(locals.currentUser) { %>
                    <a href="/logout">Logout</a>
                <% } else { %>
                    <a href="/login">Login</a>
                <% } %>
            </li>
            <% if(locals.currentUser) { %>
                <% if(currentUser.role === "user") { %>
                    <li><a href="/become-member">Become a Member</a></li>
                <% } %>
            <% } %>
        </ul>
    </nav>
</header>
